@font-face {
    font-family: "Kanit";
    /*src: url("../fonts/Kanit-Regular.ttf") format("truetype");*/
    /*src: url("../fonts/OpenSans_SemiCondensed-Regular.ttf") format("truetype");*/
    src: url("../fonts/Krub-Regular.ttf") format("truetype");
    /*src: url("../fonts/OpenSans-Regular.ttf") format("truetype");*/
}

@font-face {
    font-family: "Kanit-Bold";
    /*src: url("../fonts/Kanit-Regular.ttf") format("truetype");*/
    /*src: url("../fonts/OpenSans_SemiCondensed-Regular.ttf") format("truetype");*/
    src: url("../fonts/Krub-Bold.ttf") format("truetype");
    /*src: url("../fonts/OpenSans-Regular.ttf") format("truetype");*/
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

html,
body {
    /* background: rgb(245, 245, 245); */
    background: rgba(255, 200, 225, 0.7);
    font-family: "Kanit", Arial !important;
}

nav {
    /* box-shadow: -2px -3px 12px 1px #03BAFF; */
    /* background: linear-gradient(
        to left,
        rgba(245, 246, 252, 0.52),
        rgba(117, 19, 93, 0.73)
    ); */
    /* background: rgba(117, 19, 93, 0.73); */
}

.row {
    margin: 0;
}

/*.bg-black {*/
/*    background: rgb(237, 58, 82);*/
/*}*/

.bg-black {
    background: rgb(16, 26, 109);
}

.bg-black li a {
    /* color: rgb(255, 255, 255) !important; */
    color: rgba(255, 255, 255, 0.6);
}

.logo-center {
    height: 40px;
    padding: 0 10px;
}

.navbar {
    /* padding: 10px 0; */
}

.nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

.top-home {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    /*margin-bottom: 30px;*/
    /*background: rgb(252, 235, 239, 0.7);*/
    margin-left: 15px;
    margin-right: 15px;
}

.section-top-home {
    background: rgb(250, 214, 161);
    padding: 10px 0;
    border-radius: 10px;
}

.section-top-home .row {
    justify-content: center;
    margin: 0;
    padding-top: 10px;
}

.btn.btn-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.seprator-img-model,
.seprator-img-index {
    display: none;
}

.section-top-home p {
    padding: 0 20px;
    margin: 0;
}

.section-top-home p:nth-child(3) {
    padding-bottom: 20px;
}

.btn-line {
    background: rgb(0, 136, 204);
    border-radius: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 3px 10px;
}

.line-icon {
    height: 25px;
}

.seprator-img {
    height: 25px;
}

.seprator-img-index {
    height: 25px;
    width: auto;
}

.advertise {
    /*padding-top:60px;*/
    padding-bottom: 15px;
}

.advertise-img {
    /*width: 100%;*/
    /*border-radius: 5px;*/

    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 5%;
}

.test {
    display: table;
    background: rgb(255, 255, 255);
    border: 3px solid rgb(239, 98, 54);
    border-radius: 10px;
    padding: 15px 2px;
    width: 100%;
    cursor: pointer;
}

.test2 {
    text-align: center;
}

.test3 {
    text-align: center;
    margin-top: 5px;
}

.section-models {
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.model-box {
    /*prev version*/
    /*background: white;
    height: auto;
    border-radius:30px;
    box-shadow: 1px 1px 14px 2px rgb(0 0 0 / 32%);
    padding-bottom:5px;*/
    /*next version*/
    /*background: #fdfdfd;*/
    border-radius: 10px;
    border: 2px solid transparent;
    /*background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255)) padding-box,*/
    /*linear-gradient(135deg, rgb(255 191 122) 0%, rgb(227 131 56) 35%, rgb(191 58 40) 65%, rgb(183 41 37) 100%) border-box;*/
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255))
            padding-box,
        linear-gradient(
                135deg,
                rgb(255, 166, 33) 0%,
                rgb(237, 58, 73) 35%,
                rgb(236, 66, 142) 65%,
                rgb(247, 0, 109) 100%
            )
            border-box;
    /*background: rgb(255, 255, 255);*/
    height: auto;
    /*border-radius: 10px;*/
    /*padding-bottom: 5px;*/
    /*border: 1px solid rgb(240, 240, 240);*/
}

.img-box {
    /*prev version*/
    /*border-radius:30px;
    width: 100%;
    height: 350px;
    background-size:100% 100%;
    position: relative;*/
    /*next version*/
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 340px;
    background-size: 100% 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-logo-footer {
    height: 40px;
}

.company-box {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    /*background: rgb(218, 74, 74);*/
    background: rgb(217, 32, 114);
    width: 100%;
    height: auto;
    position: relative;
    bottom: 4px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    line-height: 25px;
    color: rgb(255, 255, 255);
}

.row-of-model {
    direction: ltr;
    text-align: left;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: -15px;
    margin-bottom: -2px;
}

.text-of-row-model {
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    justify-content: space-between;
    width: 40px;
}
.text-of-row-model .heart{
    /* display: flex;
    float: end; */
}

.seprator-img-model {
    height: auto;
    width: 100%;
}

.btn-pr {
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 80%;
    border-style: solid;
    /*border-color: rgb(16, 26, 109);*/
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255))
            padding-box,
        linear-gradient(
                135deg,
                rgb(255 191 122) 0%,
                rgb(227 131 56) 35%,
                rgb(191 58 40) 65%,
                rgb(183 41 37) 100%
            )
            border-box;
    border-width: 2px;
    /*border: 0;*/
    /*background: linear-gradient(*/
    /*    135deg, rgb(255, 118, 63) 0%, rgb(255, 23, 90) 35%, rgb(186, 2, 103) 65%, rgb(83, 8, 107) 100%);*/
}

.container-button-model {
    width: 90%;
    position: relative;
    margin: 0 auto;
    /*margin-top: 5px;*/
}

.icon-btn {
    position: absolute;
    left: 0;
    top: -6px;
}

.icon-btn img {
    height: 47px;
    /*padding-left: 28px;*/
    line-height: 44px;
}

.page-link {
    background: transparent;
    color: rgb(166, 173, 180);
    border: 0;
}

.active {
    border-bottom: 2px solid rgb(16, 26, 109);
}

.page-item.active .page-link {
    background: rgb(255, 255, 255);
    border: 0;
    border-radius: 13px;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.32);
}

.page-link:hover {
    color: rgb(166, 173, 180);
    background: rgb(255, 255, 255);
    border: 0;
    border-radius: 13px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 13px;
}

/*.footer-page {*/
/*    padding-top: 30px;*/
/*    padding-bottom: 30px;*/
/*    background: rgb(237, 58, 82);*/
/*    height: auto;*/
/*}*/

.footer-page {
    padding-top: 10px;
    padding-bottom: 30px;
    background: rgb(16, 26, 109);
    height: auto;
}

.footer-page a {
    color: rgb(255, 255, 255);
}

.go-top {
    z-index: 22;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    width: 50px;
    height: 50px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    right: 0;
}

.footer-page .d-lg-block {
    width: 100%;
    padding: 30px 0 0 0;
}

.footer-page .nav-link {
    padding: 0;
}

.location-box {
    height: 65px;
}

@media only all and (max-width: 575px) {
    .go-top {
        position: absolute;
        z-index: 22;
        right: 20px !important;
    }
}

@media only all and (max-width: 768px) and (min-width: 575px) {
    .footer-page .col-md-2 {
        flex: 0 0 33.33% !important;
        max-width: 33.33% !important;
    }
}

.container-contactus {
    /*background: rgba(238, 0, 255, 0.1);*/
}

.contactus-box {
    background: rgb(255, 255, 255);
    height: auto;
    border-radius: 30px;
    box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.32);
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-control {
    padding: 1.5rem 0.75rem;
    border-radius: 45px;
}

.container-image-contactus {
    width: 100%;
    position: relative;
    height: 100%;
}

.img-contactus {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.container-register {
    background: url("../images/register.png");
    background-size: cover;
    background-position: 0 -100px;
    width: 100%;
    /*height: 100%;*/
}

.btn-responsive {
}

.text-message-width {
    width: 80%;
}

.font-size-line {
    font-size: 12px;
}

@media only all and (min-width: 0px) and (max-width: 500px) {
    .logo-center {
        height: 30px;
        padding-left: 10px;
    }

    .btn-line {
        padding: 6px;
    }

    .container-register {
        background-position: -200px 0;
    }

    .seprator-img-index {
        width: 90% !important;
    }

    .btn-responsive {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 11px;
        /*height: 40px;*/
        padding-right: 0;
    }

    .dropdown-menu {
        left: auto;
        right: 0;
    }

    .img-box {
        height: 230px;
    }

    .text-message-width {
        width: 100%;
    }

    .font-size-line {
        font-size: 11px;
    }

    .line-icon {
        height: 20px;
    }
}

/*!* For mobile: *!*/
/*@media only screen and (max-width: 419px) {*/
/*    .img-box {*/
/*        height: 400px;*/
/*    }*/

/*    .col-6 {*/
/*        -ms-flex: 0 0 100% !important;*/
/*        flex: 0 0 100% !important;*/
/*        max-width: 100% !important;*/
/*    }*/
/*}*/

/*.div#dropdownMenuButton {*/
/*    background: rgb(180 40 36) !important;*/
/*    border: rgb(180 40 36) !important;*/
/*    color: rgb(255 255 255) !important;*/
/*}*/

/*.navbar .dropdown {*/
/*    background: rgb(180 40 36) !important;*/
/*    border: rgb(180 40 36) !important;*/
/*}*/

@media only screen and (max-width: 991px) {
    .navbar .dropdown {
        position: absolute;
        right: 70px;
        top: 12px;
    }

    .login {
        position: absolute;
        right: 135px;
        top: 12px;
    }
}

@media only screen and (max-width: 420px) {
    .location-box {
        height: 75px;
    }

    .advertise .col-2 {
        -ms-flex: 0 0 33% !important;
        flex: 0 0 33% !important;
        max-width: 33% !important;
    }

    .advertise-img {
        height: 55px !important;
        width: 55px !important;
    }
}

/* For large mobile: */
@media only screen and (min-width: 421px) and (max-width: 767px) {
    .location-box {
        height: 65px;
    }

    .advertise .col-2 {
        -ms-flex: 0 0 33% !important;
        flex: 0 0 33% !important;
        max-width: 33% !important;
    }

    .advertise-img {
        height: 55px !important;
        width: 55px !important;
    }

    .img-box {
        height: 260px !important;
    }
}

/* For tablets: */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .location-box {
        height: 50px;
    }

    .img-box {
        /*height: 280px !important;*/
        height: 180px !important;
    }

    .col-md-4.col-lg-3.col-xl-3.col-sm-6.col-6.mt-6 {
        -ms-flex: 0 0 25% !important;
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }

    .section-models {
        margin-left: 70px !important;
        margin-right: 70px !important;
    }
}

/* For desktop: */
@media only screen and (min-width: 992px) and (max-width: 1119px) {
    .location-box {
        height: 35px;
    }

    .img-box {
        height: 300px !important;
    }

    .col-lg-3 {
        -ms-flex: 0 0 20% !important;
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}

/* For large desktop: */
@media only screen and (min-width: 1200px) {
    .location-box {
        height: 35px;
    }

    .img-box {
        height: 300px !important;
    }

    .col-xl-3 {
        -ms-flex: 0 0 20% !important;
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}

/* For small mobile: */
@media only screen and (max-width: 375px) {
    .section-top-home .row .col-6 {
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0 5px;
    }
}

@media (min-width: 0px) and (max-width: 900px) {
    .img-contactus {
        position: relative;
    }
}

.container-profile {
    background: url("../images/profile.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.blue-color {
    color: rgb(3, 186, 255);
}

.profile-message textarea {
    box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.32);
}

.profile-message textarea::placeholder {
    color: rgb(38, 153, 251);
}

.recent-box {
    background: rgb(255, 255, 255);
    height: auto;
    border-radius: 46px;
    border: 1px solid rgb(185, 185, 185);
}

.message-box1 {
    padding: 20px;
    padding-left: 40px;
    background: rgba(3, 186, 255, 0.17);
    border-radius: 70px;
    border: 1px solid rgb(3, 186, 255);
    box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.32);
}

.message-box2 {
    padding: 20px;
    padding-left: 40px;
    background: rgba(238, 16, 215, 0.11);
    border-radius: 70px;
    border: 1px solid rgba(253, 2, 227, 0.4);
    box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.32);
}

.right-date-message {
    text-align: right;
    color: rgb(112, 112, 112);
    font-size: 13px;
    padding-top: 5px;
}

.card-header {
    padding-top: 0 !important;
    background: rgb(245, 245, 245);
    border-radius: 10px !important;
    box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.32);
}

.card {
    border-radius: 10px !important;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 013);
}

.fa-angle-down {
    color: rgb(185, 3, 103) !important;
}

.btn.focus,
.btn:focus {
    box-shadow: none !important;
}

.model-single-box {
    background: rgb(255, 255, 255);
    height: auto;
    border-radius: 10px;
    /*box-shadow: 1px 1px 14px 2px rgb(0 0 0 / 32%);*/
    box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.32);
    /*padding-bottom: 20px;*/
}

.badge-price {
    display: block;
    width: fit-content;
    background: none !important;
    font-size: 17px;
    color: rgb(237, 56, 55);
    font-weight: 400;
    padding: 0 7px 0 0;
}

.badge-simple {
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    background: rgb(236, 66, 141);
}

.body-txt {
    padding-left: 0;
}

.profile-img-section img {
    object-fit: cover;
    border-radius: 5px;
}

.text-model-contact {
    position: relative;
    top: 6px;
}

.copyright {
    /* background: rgb(84, 84, 84); */
    background: #f4f4f4;
    height: auto;
    width: 100%;
    color: rgb(152, 152, 152);
    padding: 10px;
}

.modal-content {
    border-radius: 30px;
}

.page-item:first-child .page-link {
    border-radius: 13px !important;
    margin-right: 1px;
}

.icon-slider {
    background: rgb(255, 255, 255);
    border-radius: 11px;
    font-size: 29px;
    color: rgb(3, 186, 255);
    font-weight: 900;
    padding-left: 12px;
    padding-right: 21px;
    box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.32);
}

.container-comments {
    margin-bottom: 15px;
    background: rgb(255, 255, 255);
    height: auto;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.32);
    position: relative;
}

.custom-file-label::after {
    color: rgb(255, 255, 255);
    border-radius: 0 20px 20px 0;
    border: 0;
    /*background: linear-gradient(-180deg, rgba(255, 0, 255, 1) 0%, rgba(158, 72, 255, 1) 35%, rgba(124, 97, 255, 1) 65%, rgba(3, 186, 255, 1) 100%);*/
    background: linear-gradient(
            135deg,
            rgb(255, 166, 33) 0%,
            rgb(237, 58, 73) 35%,
            rgb(236, 66, 142) 65%,
            rgb(247, 0, 109) 100%
        )
        border-box;
    font-family: FontAwesome;
    content: "\f105" !important;
    font-weight: 900;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 29px;
    height: 36px;
    line-height: 24px;
}

@media (min-width: 720px) {
    .section-models {
        margin-left: 130px;
        margin-right: 130px;
    }
}
